<ion-header>
  <ion-toolbar >
    <!-- start  side menu  -->
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <!-- end  side menu  -->
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-grid>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all" checked>All Places</ion-segment-button>
    <ion-segment-button value="Bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-card >
        <ion-card-header>
          <ion-card-title>{{relevantPlaces[0].title | uppercase}}</ion-card-title>
          <ion-card-subtitle>{{relevantPlaces[0].price | currency}} / night</ion-card-subtitle>
        </ion-card-header>
        <ion-img [src]="relevantPlaces[0].imgUrl"></ion-img>
        <ion-card-content>
          <p>{{relevantPlaces[0].description}}</p>
        </ion-card-content>
        <!-- //div for nav  -->
        <div class="ion-text-center">
          <ion-button fill="clear" color="primary" 
           [routerLink] = "['/','places','tabs','discover',relevantPlaces[0].id]"> 
            more
          </ion-button>
        </div>
        <!-- // end div for nav  -->

      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2">
      <ion-list>
        <!-- skip the first element in places -->
        <ion-item  detail *ngFor="let place of listedPlaces" [routerLink] = "['/','places','tabs','discover',place.id]">
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imgUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{place.title | uppercase}}</h2>
              <p>{{place.description | summary}}</p>
            </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
