<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let offer of offers " #itemSilding>
     
      <app-offer-item [offer] = "offer"></app-offer-item>
        <ion-item-options  side="end">
          <ion-item-option color="primary" (click)="onEdit(offer.id,itemSilding)">Edit
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
          
        </ion-item-options>
      </ion-item-sliding>
</ion-list>
</ion-content>
