<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Login' : 'SignUp'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit) = "onSubmit(form)">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input 
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtr="ngModel" ></ion-input>
              </ion-item>
              <ion-item *ngIf="emailCtr.invalid && emailCtr.touched" lines="none">
                <ion-label>Email should be a valid </ion-label>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input 
                    type="password"
                    ngModel 
                    name="password" 
                    required 
                    minlength="6"
                    #passCtr="ngModel"
                    ></ion-input>
              </ion-item>
              <ion-item *ngIf="passCtr.invalid && passCtr.touched" lines="none">
                <ion-label>Password should be greater than 6 char</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid >
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-button 
              type="button"
              color="primary" 
              expand="block" 
              (click) ="onAuth()" 
              fill="clear">
              switch To {{ isLogin ? 'SignUp' : 'Login'}}
            </ion-button>
            <ion-button 
              type="submit" 
              color="primary" 
              expand="block" 
              (click) ="onLogin()" 
              [disabled] = "form.invalid">
              Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </form>  
</ion-content>
