<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-list>
        <ion-item-sliding *ngFor = "let booking of loadedBookings" #itemSliding>
          <ion-item>
            <ion-label>
              <h5>{{booking.placeTitle}}</h5>
            </ion-label>
            <p>guests: {{booking.guestNumber}}</p>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="onCancel(booking.id,itemSliding)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
              Cancel
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
