<!-- <ion-header>
  <ion-toolbar>
    <ion-title>places</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content> -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="discover">
        <ion-icon name="search"></ion-icon>
        <ion-label>discover</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="offers">
        <ion-icon name="card"></ion-icon>
        <ion-label>offers</ion-label>
      </ion-tab-button>
  

    </ion-tab-bar>
  </ion-tabs>
<!-- </ion-content> -->
