h1{
    font-size: 18px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;
    padding: 8px;
    color:var(--ion-color-primary) ;
}

.item-detail{
    display: flex;
    align-items: center;

    .space-left{
        margin-left: 5px;
    }
}