<ion-item  [routerLink] = "['/','places','tabs','offers',offer.id]" >
  <ion-thumbnail slot="start">
    <img [src]="offer.imgUrl">
  </ion-thumbnail>
  <ion-label>
    <h1>{{offer.title}}</h1>
    <div class="item-detail">
      <ion-icon name="calendar" color="primary" ></ion-icon>
      <ion-text color="tertiary" class="space-left">{{offer.dateFrom | date}}</ion-text>
      <span class="space-left" >to</span>
      <ion-icon class="space-left" name="calendar" color="primary"></ion-icon>
      <ion-text class="space-left" color="tertiary">{{offer.dateTo | date}}</ion-text>
    </div>
  </ion-label>
</ion-item>
