<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div class="value"> get id from snapShot: {{ snapShot }}</div> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2"  class="ion-text-center">
        <ion-card>
          <ion-img [src]="place.imgUrl"></ion-img>
          <ion-card-content>
            <p>{{place.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="primary" class="ion-margin" (click)="onBookPlace()">Book</ion-button>
</ion-content>
